body {
  margin: 0;
  font-family: 'OpenSerif-Book';
  /* background-image: url('../public/img/food.jpg'); */
  background-color: black;
  background-size: cover; /* Cubrir todo el viewport */
  background-repeat: no-repeat;
  background-position: center; /* Centrar la imagen */
  height: 100vh; /* Cubrir toda la vista vertical */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Acumin-BdPro';
  src: url('../public/fonts/Acumin-BdPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSerif-Book';
  src: url('../public/fonts/openserif_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fuente1 {
  font-family: 'Acumin-BdPro';
}

.fuente1 {
  font-family: 'OpenSerif-Book';
}

@tailwind base;
@tailwind components;
@tailwind utilities;